<nav role="navigation" class="grid--sm-three-fifths grid--lg-two-fifths main-nav">
	<ul class="dsk--flex flex--wrap justify--between text--center grid--one">
		{# {{menu.get_items|print_r}} #}
		{% for item in menu.get_items %}
			<li class="nav-item line--1 grid--sm-third {{item.classes | join(' ')}}">
				<a class="nav-link color--gray parent" href="{{item.get_link}}"><div class="title font--condense font--bold text--uppercase font--larger">{{item.title}}</div><span class="description font--serif">{{item.description}}</span></a>
				{% if item.get_children %}
					<label class="hidden--dsk trigger--children"><span>+</span></label>
					<ul class="section--child-nav nav nav-drop dsk--flex flex--column">
						{% for child in item.get_children %}
							<li class="nav-drop-item child">
								<a class="nav-link color--gray-dark font--bold text--uppercase " href="{{child.get_link}}">{{child.title}}</a>
								
							</li>
							{% if loop.last %}{% else %}<hr class="hidden--mob color--gray-border grid--half child">{% endif %}
						{% endfor %}
					</ul>
				{% endif %}
			</li>
			<div class="nav-border {% if loop.last %}hidden--lg{% endif %}"></div>
		{% endfor %}
	</ul>
	<section class="section--social hidden--dsk">
	{% if extras == 'false' %}{% else %}
		{% if options.header.nav %}
			{% include 'components/blocks/block--resource-dropdown.twig' %}
		{% endif %}
	{% endif %}
	{% if social.facebook.url %}<a href="{{social.facebook.url}}" target="{{social.facebook.target}}" title="Follow {{social.facebook.title}} on Facebook"><i class="icon-social--facebook" data-grunticon-embed></i></a>{% endif %}
	{% if social.twitter.url %}<a href="{{social.twitter.url}}" target="{{social.twitter.target}}" title="Follow {{social.twitter.title}} on Twitter"><i class="icon-social--twitter" data-grunticon-embed></i></a>{% endif %}
	{% if social.instagram.url %}<a href="{{social.instagram.url}}" target="{{social.instagram.target}}" title="Follow {{social.instagram.title}} on Instagram"><i class="icon-social--instagram" data-grunticon-embed></i></a>{% endif %}
</section>
</nav><!-- #nav -->