<nav role="navigation" class="grid--md-two-fifths">
	<ul class="dsk--flex flex--wrap justify--between text--center grid--one">
		{# {{menu.get_items|print_r}} #}
		{% for item in menu.get_items %}
			<li class="nav-item line--1 grid--sm-third {{item.classes | join(' ')}}">
				<a class="nav-link color--gray parent" href="{{item.get_link}}"><div class="title font--condense font--bold text--uppercase font--larger">{{item.title}}</div><span class="description font--serif">{{item.description}}</span></a>
				{% if item.get_children %}
					<label class="hidden--dsk trigger--children"><span>+</span></label>
					<ul class="section--child-nav nav nav-drop dsk--flex flex--column">
						{% for child in item.get_children %}
							<li class="nav-drop-item child">
								<a class="nav-link color--gray-dark font--bold text--uppercase " href="{{child.get_link}}">{{child.title}}</a>
								
							</li>
							{% if loop.last %}{% else %}<hr class="hidden--mob color--gray-border grid--half child">{% endif %}
						{% endfor %}
					</ul>
				{% endif %}
			</li>
			<div class="nav-border"></div>
		{% endfor %}
	</ul>
</nav><!-- #nav -->