{% extends "base.twig" %}
{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		{% block contentheader %}
			{% if post.thumbnail %}
				{% include 'components/sections/section--header.twig' %}
			{% endif %}
		{% endblock %}
		<section class="section--be-informed-intro relative">
			<div class="block--breadcrumbs spacing--horiz-1 spacing--vert-1">
				<a href="{{site.url}}/be-informed/" class="font--condense text--uppercase color--gray">Be Informed <i class="icon-angle-right" data-grunticon-embed></i></a><a href="{{site.url}}/{{post.type.rewrite.slug}}" class="font--condense text--uppercase color--gray">{{post.type.labels.name}} <i class="icon-angle-right" data-grunticon-embed></i></a><span class="font--condense text--uppercase color--gray">{{post.title}}</span>
			</div>
			<i class="icon-bg-map topright fade hidden--mob" data-grunticon-embed></i>
			<div class="max-wrap margin--center  spacing--vert-2 spacing--dsk-vert-6 relative ztop">
				
				<div class="grid--one grid--sm-three-fourths spacing--vert-2 spacing--gutter bg--gray-light font--large font--serif">
					{% if post.post_type == 'news' %}
					<h4 class="font--condense font--larger">{{post.date}}</h4>
					<h1 class="font--condense text--uppercase">{{post.title}}</h1>
				{% elseif post.post_type == 'events' %}
					<h4 class="font--condense font--larger">{% if event.start_date %}
						{% if event.end_date %}
							{% if event.start_time %}
								{% if event.end_time %}
									{{event.start_date|date('M d')}} {{event.start_time}} - {{event.end_date|date('M d, Y')}} {{event.end_time}}
									
								{% endif %}
							{% else %}
								{{event.start_date|date('M d')}} - {{event.end_date|date('M d, Y')}}
							{% endif %}
						{% else %}
							{% if event.start_time %}
								{% if event.end_time %}
									{{event.start_date|date('M d, Y')}} {{event.start_time}} - {{event.end_time}}
								{% else %}
									{{event.start_date|date('M d, Y')}} {{event.start_time}}
								{% endif %}
							{% else %}
								{{event.start_date|date('F d, Y')}}
							{% endif %}
						{% endif %}
					{% endif %}</h4>
					<h1 class="font--condense text--uppercase">{{post.title}}</h1>
				{% else %}
					<h1 class="font--condense text--uppercase">{{post.title}}</h1>
				{% endif %}
				
				<hr class="color--green thick fifty left margin--vert-2">
				{{post.content}}
			</div>
			</div>
		</div>
	</section>
	
</article>
{% endblock %}