{% extends "tease.twig" %}
{% block content %}
	<div class="post--excerpt">
		<h2 class="font--condense text--uppercase"><a class="" href="{{post.link}}">{{post.title}}</a></h2>
		<hr class="color--green thick fifty left margin--vert-2">
		{% if search == 'true' %}
			<div class="search-excerpt font--large font--serif margin--bot-1">{{post.excerpt}}</div>
		{% endif %}
		<a class="button underline color--black" href="{{post.link}}" target="_self" title="{{post.title}}">Read More</a>
	</div>
{% endblock %}