{% extends "tease.twig" %}
{% block content %}
	<div class="event--excerpt">
		<h4 class="font--condense font--larger">
		{% include 'components/blocks/block--event-data.twig' %}
		<h2 class="font--condense text--uppercase"><a class="color--green" href="{{post.link}}">{{post.title}}</a></h2>
		<hr class="color--green thick fifty left margin--vert-2">
		<div class="font--large font--serif margin--bot-1">{{post.excerpt}}</div>
		<a class="button underline color--black" href="{{post.link}}" target="_self" title="{{post.title}}">Read More</a>
	</div>
{% endblock %}