<section class="section--footer-cta flex flex--wrap justify--between spacing--vert-2">
	<div class="block--footer-involved grid--one grid--sm-half grid--md-third">
		<h3 class="font--condense text--uppercase color--gray font--bold font--larger">{{footer.involved.title}}</h3>
		<p class="font--serif">{{footer.involved.text|striptags}}</p>
		<a class="button underline color--white center" href="{{footer.involved.link.url}}" target="{{footer.involved.link.target}}" title="{{footer.involved.link.title}}">{{footer.involved.link.title}}</a>
	</div>
	<div class="border"></div>
	<div class="block--footer-informed grid--one grid--sm-half grid--md-two-fifths">
		<h3 class="font--condense text--uppercase color--gray font--bold font--larger">{{footer.informed.title}}</h3>
		<p class="font--serif">{{footer.informed.text|striptags}}</p>
		{{footer.informed.signup}}<br>
		{% include 'components/sections/section--social.twig' with {'extras':'false'} %}
	</div>
	<div class="block--footer-logo hidden--mob grid--md-fourth spacing--horiz-1">
<i class="icon-outsmart" data-grunticon-embed></i>
	</div>
</section>