<section class="section--volume spacing--vert-2 spacing--dsk-vert-4">
	<div class="flex flex--wrap justify--between margin--center max-wrap spacing--gutter">
		<div class="grid--one grid--md-half grid--lg-two-fifths {% if loop.index == 2 %}order--2{% endif %}">
			<h2 class="font--condense text--uppercase font--volume">{{volume.title}}</h2>
			<h2 class="font--condense text--uppercase">{{volume.subtitle}}</h2>
			<hr class="color--green thick fifty left margin--vert-2">
			<div class="font--large font--serif">{{volume.content}}</div>
			<div class="flex flex--wrap align--items-center">
			<i class="icon-volume-{{loop.index}}" data-grunticon-embed></i><a class="button underline color--black inline-block margin--horiz-1" href="{{volume.cta.link}}" target="{{volume.cta.target}}" title="{{volume.cta.title}}"><span>{{volume.cta.title}}</span></a>
		</div>
		</div>
		<div class="block--takeaways gird--one grid--md-half bg--gray-light spacing--vert-2 spacing--horiz-2 spacing--dsk-horiz-4 spacing--dsk-vert-3 flex flex--column justify--between {% if loop.index == 2 %}order--1{% endif %}">
			{# <div class="takeaway--title ">Key Takeaways</div> #}
			{% for takeaway in volume.takeaways %}
				<div class="block--takeaway dsk--flex flex--wrap justify--between align--items-center spacing--vert-1 spacing--dsk-vert-0">
					<div class="icon grid--one grid--sm-third"><i class="icon-{{takeaway.icon}}" data-grunticon-embed></i></div>
					<div class="content grid--one grid--sm-three-fifths">{{takeaway.content}}</div>
				</div>
				{% if loop.last %}{% else %}<hr>{% endif %}
			{% endfor %}
		</div>
	</div>
	
</section>