<section class="section--home-what bg--white">
	<i class="icon-bg-map" data-grunticon-embed></i>
	<div class="block--what-wrap max-wrap margin--center spacing--gutter spacing--dsk-vert-6">
		<h2 class="text--uppercase font--condense margin--bot-half">{{home.what.title}}</h2>
		<div class="grid--three-fifths font--large font--serif">{{home.what.content}}</div>
		<a href="{{home.what.cta.link}}" target="{{home.what.cta.target}}" title="{{home.what.cta.title}}">{{home.what.cta.title}}</a>
	</div>
</section>