<section class="section--home-prepare text--center spacing--vert-4 spacing--dsk-vert-6" {% if home.prepare.image %}style="background-image:url('{{home.prepare.image|resize(1280)}}');"{% endif %}>
	<div class="spacing--gutter max-wrap margin--center">
		<h2 class="deco center text--uppercase font--condense"><span>{{home.prepare.title}}</span></h2>
		<div class="font--serif color--white font--large textwrap margin--center ">{{home.prepare.content|striptags}}</div>
		<div class="flex flex--wrap justify--between spacing--vert-2 spacing--dsk-vert-3">
			{% for scenario in home.prepare.scenarios %}
				<div class="block--scenario  grid--sm-fourth spacing--vert-1 spacing--dsk-vert-2 margin--dsk-bot-1 spacing--horiz-half">
					<i class="icon-{{scenario.class}}" data-grunticon-embed></i>
					<div class="color--gray-medium">{{scenario.content|striptags}}</div>
				</div>
			{% endfor %}
		</div>
		<a class="button underline color--white center" href="{{home.prepare.cta.link}}" target="{{home.prepare.cta.target}}" title="{{home.prepare.cta.title}}">{{home.prepare.cta.title}}</a>
	</div>
</section>