<section class="section--volume-unpublished grid--one grid--sm-one  grid--md-half spacing--vert-2 spacing--horiz-2 spacing--dsk-vert-3 spacing--dsk-horiz-3 color--gray margin--vert-3" data-release="Release Date: {{volume.release_date|date('m / d / y')}}">
	<i class="icon-volume-{{loop.index}}" data-grunticon-embed></i>
	<br><br class="hidden--mob">
	<h2 class="transform--no font--huge ">{{volume.title}}</h2>
	<strong class="text--uppercase">{{volume.subtitle}}</strong>

	<div class="font--small font--serif">{{volume.content}}</div>
</section>