<section class="section--home-header spacing--vert-5">
	<div class="block--header-content"><i class="icon-round-logo" data-grunticon-embed></i>
		<h2 class="color--white text--uppercase font--condense grid--sm-three-fourths grid--md-half margin--center spacing--vert-1">{{home.video.content}}</h2>
	</div>
	<div class="block--header-video">
			<video width="100%" autobuffer autoplay="true" preload='auto' poster="{{home.video.poster|resize(800)}}">
			<source type="video/webm" src="{{home.video.webm}}">
			<source type="video/mp4" src="{{home.video.mp4}}">
			<object type="video/ogg" data="{{home.video.ogg}}">
			<param name="src" value="{{home.video.ogg}}">
				<param name="autoplay" value="true">
					<param name="autoStart" value="true">
			</object>
		</video>
	</div>
	
</section>