<section class="section--home-what bg--white spacing--vert-3">
	<i class="icon-bg-map" data-grunticon-embed></i>
	<div class="block--what-wrap max-wrap margin--center spacing--gutter spacing--dsk-vert-6">
		<h2 class="text--uppercase font--condense margin--bot-half deco"><span>{{home.what.title}}</span></h2>
		<div class="grid--sm-three-fifths font--large font--serif"><p>{{home.what.content|striptags}}</p></div>
		<a class="button underline color--black" href="{{home.what.cta.link}}" target="{{home.what.cta.target}}" title="{{home.what.cta.title}}">{{home.what.cta.title}}</a>
	</div>
</section>
