<section class="section--home-outsmart text--center spacing--vert-4 spacing--dsk-vert-6 bg--white" >
	<div class="spacing--gutter max-wrap margin--center">
		<h2 class="deco center text--uppercase font--condense"><span>{{home.outsmart.title}}</span></h2>
		<div class="font--serif color--black font--large textwrap margin--center ">{{home.outsmart.content|striptags}}</div>
		<div class="flex flex--wrap justify--between spacing--vert-2 spacing--dsk-vert-3">
			{% for scenario in home.outsmart.scenarios %}
				<div class="block--scenario bg--gray-dark grid--sm-fourth spacing--vert-1 spacing--dsk-vert-2 margin--dsk-bot-1 spacing--horiz-1">
					<i class="icon-{{scenario.class}}" data-grunticon-embed></i>
					<div class="color--gray-medium">{{scenario.content|striptags}}</div>
				</div>
			{% endfor %}
		</div>
		<a class="button underline color--black center" href="{{home.outsmart.cta.url}}" target="{{home.outsmart.cta.target}}" title="{{home.outsmart.cta.title}}">{{home.outsmart.cta.title}}</a>
	</div>
</section>