<section class="section--reports-media text--center spacing--vert-2 spacing--dsk-vert-6 spacing--gutter-mob">
	<h2 class="deco font--condense color--black center"><span>{{reports.media.title}}</span></h2>
	<div class="font--large font--serif margin--center grid--one grid--sm-two-fifths">{{reports.media.content}}</div>
	<a class="button underline color--black center" href="{{reports.media.cta.url}}" target="{{reports.media.cta.target}}" title="{{reports.media.cta.title}}">{{reports.media.cta.title}}</a>
</section>