<section class="section--home-challenge  spacing--vert-3 bg bg--white">
	<i class="icon-bg-map" data-grunticon-embed></i>
	<div class="block--challenge-wrap max-wrap margin--center spacing--gutter spacing--dsk-vert-6 color--black flex flex--wrap justify--between">
		
		<div class="grid--sm-three-fifths font--large font--serif"><h2 class="text--uppercase color--black font--condense margin--bot-half deco"><span>{{home.challenge.title}}</span></h2><div>{{home.challenge.content}}</div>{% if home.challenge.link.title %}<a class="button underline color--black" href="{{home.challenge.link.url}}" target="{{home.challenge.link.target}}" title="{{home.challenge.link.title}}">{{home.challenge.link.title}}</a>{% endif %}</div>
		
		<div class="grid--sm-two-fifths">
			<i class="icon-rbc" data-grunticon-embed></i>
		</div>
	</div>
</section>
